<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
<style>
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: rgba(41, 41, 41, 1);

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

}
header {
  padding: 100px 0;
  text-align: center;
}
header h1 {
  font-family: Georgia;
  letter-spacing: 0;
}
h1 {
  font-family: Georgia;
}
h2 {
  font-family: Georgia;
  margin: 0;
}
main {
  margin: 50px auto;
  max-width: 700px;
  width: 100%;
}
pre#header {
  padding: 50px;
  text-align: center;
}
pre {
  background: whitesmoke;
  padding: 10px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
code {
  background: whitesmoke;
}
main ol, main ul {
  padding-inline-start: 20px;
}
main hr {
  margin: 50px 0;
  border: none;
  border-top: 3px double #ddd;
  color: #ddd;
  overflow: visible;
  text-align: center;
  height: 5px;
}
main hr:after {
  background: #fff;
  content: 'ยง';
  padding: 0 4px;
  position: relative;
  top: -13px;
}
main blockquote {
  margin: 0;
}
body > * {
  width: 100%;
}
img {
  width: 100%;
}
#author {
  text-align: center;
  padding: 50px;
}
a, a:visited {
  color: rgba(0,0,0,0.8);
}
a.button {
  background: rgba(0,0,0,0.8);
  color: white;
  text-decoration: none;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.buttons {
  padding: 20px 0 0;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
</head>
<body>
<header>
  <h1>KV</h1>
  <div>Universal URI Scheme for Storing Key-Value Pairs</div>
  <div class='buttons'>
    <a class='button' href="https://github.com/sobachef/kv/issues"><i class="fab fa-github"></i> Discuss on GitHub</a>
  </div>
</header>
<main>
{{{content}}}
</main>
</body>
</html>
